html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Tabs by https://www.w3schools.com/ */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: 16px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border: 0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 0px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style buttons by https://www.w3schools.com/ */
.btn {
  background-color: #ccc;
  border: none; /* Remove borders */
  color: black; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: darkgray;
}

.btn:focus {
  outline: none;
}

.btn:visited {
  outline: none;
}

.btn_w {
  background-color: white;
  border: none; /* Remove borders */
  color: black; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn_w:hover {
  background-color: black;
  color: white;
}

.btn_w:focus {
  outline: none;
}

.btn_w:visited {
  outline: none;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
